body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: #060c21;
    justify-content: center;
    font-family: sans-serif;
  
  }
  .box{
    position: relative;
    width: 700px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060c21;
  }
  .box::before{
    content: '';
    position: absolute;
    top:-2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: #fff;
  }
  .box::after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
  }
  .box::before,
  .box::after{
    background: linear-gradient(22deg, #89ff00,
    #060c21, #00bcd4);
  }
  h1{
    text-align: center;
  }
  
  img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid 2px #3498db;
  }
  .text-input{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3298db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #fff;
    border-radius: 10px;
    transition: 0.35s;
    font-size: 15px;
  }
  .text-input:focus{
    width: 250px;
    border-color: #e61d0f;
  }
  .box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #a60d0d;
    padding: 17px 50px;
    outline: none;
    color: #fff;
    border-radius: 10px;
    transition: 0.35s;
    cursor: pointer;
    font-size: 15px;
  }
  .box input[type="submit"]:hover{
    background: #2157a2;
  }